<table style="width:890px;margin:0 auto;border-collapse:collapse;text-align:center;">
  <tbody>
    <tr>
      <td> <!-- blog_wrap -->
        <div id="blog_wrap" style="width:890px;margin:0 auto;"> <!-- blog_header -->
          <div id="blog_header" style="width:886px;margin:0 auto;border:2px solid #33383e;"> <!-- Info -->
            <div class="Info" style="position:relative;zoom:1;overflow:visible"> <!-- 가격과 상품정보 -->
              <div id="proinfo" style="margin: 0 30px;padding: 18px 0 20px;text-align: left;">
                <h1 class="pro_name"
                  style="margin: 0;text-align: left;line-height: 29px;font-size: 23px;color: #000;font-family:'Malgun Gothic','맑은 고딕','dotum';">
                  이엠텍 지포스 RTX 4060 Ti STORM X Dual OC D6 8GB</h1>
                <dl class="pro_price" style="overflow: hidden;margin: 10px 0;">
                  <dt class="price_dt"
                    style="display: inline-block;float: left;line-height: 32px;font-size: 17px;font-weight: bold;color: #333;letter-spacing: -0.02em;font-family:'Malgun Gothic','맑은 고딕','dotum'">
                    최저가</dt>
                  <dd class="price_dd" style="display: inline-block;float: left;margin-left: 10px;color: #0375e0;">
                    <span class="price_num"> <strong
                        style="font-family:Century Gothic;font-size:26px;">562,960</strong><em
                        style="font-style:normal;font-size:15px;font-weight:bold;vertical-align:2px;font-family:'Malgun Gothic','맑은 고딕';">원</em>
                    </span> <a href="https://prod.danawa.com/info/?pcode=20274764&amp;keyword=rtx4060&amp;cate=112753"
                      target="_blank" class="btn_more"
                      style="display: inline-block;border: 1px solid #b9bec5;margin-left: 4px;padding: 5px 4px 3px 4px;vertical-align: 4px;font-size: 11px;color: #33383e;font-family: 'dotum';text-decoration: none;">자세히보기</a>
                  </dd>
                </dl>
                <div class="detail_info">
                  <ul style="margin:0;padding:0;overflow:hidden;list-style:none;font-family:'dotum';">
                    <li style="float:left;margin-right:6px;font-size:11px;color:#999;">판매점 : 302개</li>
                    <li style="float:left;margin-right:6px;font-size:11px;color:#999;"><span class="bar"
                        style="font-size:9px;color:#dcdcdc;">ㅣ</span></li>
                    <li style="float:left;margin-right:6px;font-size:11px;color:#999;"><a href="" target="_blank"
                        style="color:#999;text-decoration:none;">제조사 : 이엠텍</a></li>
                    <li style="float:left;margin-right:6px;font-size:11px;color:#999;"><span class="bar"
                        style="font-size:9px;color:#dcdcdc;">ㅣ</span></li>
                    <li style="float:left;margin-right:6px;font-size:11px;color:#999;">등록월: 2023.05.</li>
                  </ul>
                </div>
              </div>
            </div> <!--// Info -->
          </div> <!--// blog_header --> <!-- blog_cont -->
          <div id="blog_cont" style="margin:20px auto 0;width:884px;text-align:left;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td align="center">
                    <div id="partContents_3_0" style="display:block;">
                      <p><img
                          src="https://iws.danawa.com/prod_img/500000/764/274/desc/prod_20274764/add_1/20230523094211737_OVZBBA9X.jpg"
                          alt=""></p>
                      <p><img
                          src="https://iws.danawa.com/prod_img/500000/764/274/desc/prod_20274764/add_1/20230523094213690_EHJABCUS.jpg"
                          alt=""></p>
                      <p><img
                          src="https://iws.danawa.com/prod_img/500000/764/274/desc/prod_20274764/add_1/20230523094215809_CASPMNEY.jpg"
                          alt=""></p>
                      <p><img
                          src="https://iws.danawa.com/prod_img/500000/764/274/desc/prod_20274764/add_1/20230523094217984_DMVW28DP.jpg"
                          alt=""></p>
                      <p><img
                          src="https://iws.danawa.com/prod_img/500000/764/274/desc/prod_20274764/add_1/20230523094218916_3D2ENAC3.jpg"
                          alt=""></p>
                      <div>
                        <p class="danawa_copyright_wrap"><img
                            src="https://iws.danawa.com/images/banner/dnwCopyrightBanner.jpg" border="0"
                            alt="danawa에서 알려드립니다! 본 콘텐츠의 저작권은 (주)다나와에 있으며 동의 없이 무단복제 및 가공, 임의로 사용 시 법에 의한 처벌을 받을 수 있습니다."
                            class="img_danawa_copyright"></p>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!--// blog_cont -->
        </div> <!--// blog_wrap -->
      </td>
    </tr>
  </tbody>
</table>